<p style="color: green"><%= notice %></p>

<%= render @client %>

<div>
  <%= link_to "Edit this client", edit_admin_client_path(@client) %> |
  <%= link_to "Back to clients", admin_clients_path %>
</div>
