<%= turbo_frame_tag :remote_modal, target: :top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= Event::CATEGORY_SHORT_TEXT[event.category] %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "event", event: event %>
        </div>
      </div>
    </div>
  </div>
<% end %>
